.noticiasContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #c1e899;
}

.noticiasCard {
    width: 825px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 20px;
}

.red-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff0015;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.btn-estado {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: 2px ridge rgb(205, 205, 205);
}

.btn-estado.publicada {
    background-color: rgb(0, 110, 124);
    color: white;
}

.btn-estado.pendiente {
    background-color: yellow;
    color: black;
}

.btn-estado.rechazada {
    background-color: red;
    color: white;
}

.tipoPublicacion {
    background-color: rgb(15, 138, 117);
    max-width: 100px;
    text-align: center;
    justify-content: center;
    color: #f0f0f0;
    font-weight: bold;
    border-radius: 5px;
}

.tituloPublicacion {
    font-weight: bold;
}

.eliminarBtn {
    background-color: #d41103;
    border: 2px ridge black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    margin: 5px;

}

.editarBtn {
    background-color: #f3ff4a;
    padding: 5px;
    border: 2px ridge black;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin: 5px;
}

.btnSaveEdit{
      background-color: #f6ff7b;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;
}