.bienvenidosh1 {
      background-color: #004d49; 
    text-align: center;
    padding: 5px;
    margin-top: 30px;
   
}
.titleBienvenidos{
 font-family: 'Times New Roman', Times, serif;
 color: rgb(23, 255, 147);
}

.bienSubTitle {
    background-color: rgb(50, 201, 130);
    text-align: center;
}
.subTitleBienvenidos{
 font-family: 'Times New Roman', Times, serif;
 border-bottom: 7px solid #004d49;

 padding: 5px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}