.containerAllPerfil {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: #23523d;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.UlPerfil {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 550px;
}

.LiPerfil {
    background-color: #d4fff6; 
    border: 7px ridge #000000;
    border-radius: 30px; 
    box-shadow: 0 15px 35px rgba(45, 106, 79, 0.2);
    padding: 40px;
    color: #1b4332;
    position: relative;
    border-bottom: 8px solid #004e37; 
}

.containerFtPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.perfilIMG {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
    border: 4px solid #004133;
    outline: 2px solid #41bb82;
    outline-offset: 3px;
    box-shadow: 0 10px 25px rgba(45, 106, 79, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.perfilIMG:hover {
    /*zoom limpio */
    transform: scale(1.08);
    outline-color: #005a44;
    outline-offset: 6px;
    box-shadow: 0 0 25px rgb(28, 212, 126);
}

.tituloFtPerfil {
    margin-top: 15px;
    font-weight: 800;
    color: #004735;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

/* BLOQUES DE INFORMACIÓN - Estilo minimalista natural */
.containerData {
    background: rgb(0, 61, 41);
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 12px;
    border-left: 5px solid #000000;
    border-bottom:3px solid #000000 ;
    transition: transform 0.2s;
}

.containerData:hover {
    transform: translateX(10px);
    color: rgb(229, 255, 116);
    background-color: #000000ef;
     border-left: 5px solid #000000;
    border-bottom:3px solid #000000 ;
}

.tituloData {
    color: #63fddc;
    font-size: 0.75rem;
    font-weight: bold;
}

/* SECCIÓN CALIFICACIONES - Burbujas de agua */
.UlCalificaciones {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    list-style: none;
}

.LiCalificaiones {
    background: #004e48;
    border: 2px solid #000000;
    padding: 12px 25px;
    border-radius: 50px; /* Estilo cápsula */
    cursor: pointer;
    font-weight: bold;
    color: #98ffe0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.LiCalificaiones:hover {
    background: #00382f;
    border-color: #fff565;
    color: gold;
    transform: translateY(-5px);
}

/* BOTONES - Estilo piedra pulida */
.btnPerfilEdit {
    width: 100%;
    background-color: #144237;
    color: rgb(250, 252, 132);
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

.btnPerfilEdit:hover {
    background-color: #000000;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(240, 255, 24, 0.959);
}

/* INPUTS DE EDICIÓN */
.inptCardPerfil {
    width: 100%;
    background: #fff;
    border: 2px solid #d8f3dc;
    padding: 12px;
    border-radius: 10px;
    margin-top: 8px;
    outline: none;
}

.inptCardPerfil:focus {
    border-color: #52b788;
    background: #f7fffb;
}

/* TIPO DE USUARIO BADGES */
.tipoUserHigh {
    color: #2d6a4f;
    background: #d8f3dc;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
}
.btnConfirmar{
background-color: #a3cfbb;
border: 3px solid #1b4332;
border-radius: 3px;
padding: 3px;
}
.btnVerCalificacion{
    background-color: black;
    color: #fbff20;
    border: 1px solid gold;
    border-radius: 5px;
    padding: 3px 7px;
}