.card-noticia {
    background-color: #067e60; 
    border-radius: 6px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    overflow: hidden;
    border: 4px solid #000000; 
    box-shadow: inset 0 0 10px rgb(0, 31, 14);
    margin-bottom: 35px;
}

.card-noticia:hover {
    transform: translateY(-3px); 
    box-shadow: 0 5px 25px rgb(0, 255, 119);
    border-color: #004e48;
}

.card-noticia-img {
    height: 200px; 
    object-fit: cover;
    width: 100%;
    border-bottom: 3px solid #002418;
}

.card-body {
    padding: 15px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.card-noticia-title {
    padding: 5px;
    background-color: rgb(115, 255, 208);
    box-shadow: inset 0 0 10px rgb(0, 31, 14);
    font-size: 1.3rem;
    font-weight: 700;
    color: #005f4b; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-shadow: 
    /* Primera sombra: Clara, para un efecto de relieve sutil */
    1px 1px 3px rgba(22, 255, 158, 0.808), 
    /* Segunda sombra: Oscura, para mayor definición y profundidad */
    2px 2px 5px rgb(0, 41, 34);
}



.card-noticia-text {
    font-size: 0.95rem;
    color: #abf5dc; 
    margin-bottom: 1.2rem;
}

/* BOTÓN (Mismo estilo que el botón de envío) */
.card-noticia .btn-primary {
    background-color: #38a169;
    border: none;
    color: #1a202c; /* Texto oscuro para alto contraste */
    font-weight: 700;
    transition: all 0.3s ease;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    align-self: center; /* Si el .card-body es flexbox (Solución 1a) */
    margin-left: 0;
    margin-right: 0;
    
}

.card-noticia .btn-primary:hover {
    background-color: #48bb78;
    color: white;
    /* GLOW sutil en el botón */
    box-shadow: 0 0 10px #38a169;
}