/* card All */
.card-noticia {
    background-color: #067e60;
    border-radius: 10px;
    border: 3px solid #002418;
    overflow: hidden;
    margin-bottom: 35px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 8px 20px rgba(0, 31, 14, 0.6);
    transition: all 0.3s ease;
}

.card-noticia:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 255, 119, 0.25);
    border-color: #004e48;
}


/* img card news */
.card-noticia-img {
    height: 210px;
    object-fit: cover;
    width: 100%;
    border-bottom: 4px solid #002418;
}


/* body card news */
.card-body {
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-align: left;
}

/* News title */
.card-noticia-title {
    padding: 5px 7px;
    background-color: rgb(182, 255, 231);
    border: 2px solid #40ffc6;
    border-radius: 6px;
    font-size: 1.0rem;
    font-weight: 700;
    color: #00503f;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

/* News text  */ 
.card-noticia-text {
    font-size: 0.95rem;
    color: #99ffee;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
    flex-grow: 1;
}

/* btn ver más*/
.btn-show-noticia {
    color: rgb(0, 0, 0); 
    border: 2px solid rgb(0, 22, 17);
    background-color: #82f5d2;
    font-weight: 700;
    padding: 8px 0;
    width: 70%;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    align-self: center;
    text-align: center;
}

.btn-show-noticia:hover {
  background-color: #003d27c6;
  border: 2px groove rgb(150, 250, 220);
  color: #c2ffe1;
  box-shadow:  0 4px 12px rgb(165, 226, 204);
  transform: translateY(-2px);
}

.btn-show-noticia:active {
    transform: scale(0.96);
}

/* responsive */
@media (max-width: 768px) {
    .card-noticia {
        border-radius: 8px;
    }

    .card-noticia-img {
        height: 180px;
    }

    .card-noticia-title {
        font-size: 1rem;
    }

    .card-noticia-text {
        font-size: 0.9rem;
    }

    .btn-show-noticia {
        width: 85%;
    }
}