.CardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 25px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Card {
    width: 425px;
    background-color: #ebfff9;
    border: 3px solid rgb(0, 148, 116);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 59, 32, 0.911);
}

.CardContent {
    padding: 30px;
}

.titleVision, .titleMision{
    font-size: 1.9rem;
    color: rgb(0, 114, 61);
     text-shadow: 
    /*  Primera sombra: Clara, para un efecto de relieve sutil */
    1px 1px 3px rgba(11, 160, 110, 0.925), 
    /* Segunda sombra: Oscura, para mayor definición y profundidad */
    2px 2px 5px rgb(54, 255, 161);
}

.textMision, .textVision {
    font-size: 1.4rem;
    color: rgb(0, 78, 46);      
}

.LogoJPH {
    max-width: 300px;
    height: auto;
    margin-left: 13px;
    margin-bottom: 10px;
    border-radius: 80px;
}

.ElectroCardImg {
    max-width: 300px;
    max-height: 250px;
    margin-left: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.UnflavoredCardImg {
    max-width: 300px;
    max-height: 250px;
    margin-left: 90px;
}

.CardBars {
    padding: 1px;
    background-color: #000000;
    border: rgb(175, 255, 248) 3px  solid;
   
}