.ImgContainer {
    width: 90%;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ImgBox {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    border: 5px ridge rgb(2, 105, 66);
    }

.imgInfo{
    display: block;
    width: 100%;
    
}

.ImgBox:hover {
    transform: scale(1.3);
    z-index: 2;
}