.mainContainerNoticia {
    background-color: #056e58;
    padding: 40px 50px;
    border-radius: 10px; 
    color: rgb(46, 241, 176); 
    font-family: 'Roboto Mono', monospace, sans-serif; 
    max-width: 700px;
    margin: 60px auto;
    border: 1px solid #002014; 
    box-shadow: 0 0 20px rgb(0, 201, 151); /* Sombra exterior para efecto GLOW */
}

/* TÍTULO */
.tituloNoticia {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 35px;
    color: #dddddd;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid #0bffa1;
}


/* CONTENEDOR FORM */
.containerNoticia {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    width: 100%;
}

/* INPUTS y SELECT */
.inputTexto::placeholder{
    color: rgb(207, 207, 207);
}
.inputTexto,
.selectNoticias {
    width: 100%;
    padding: 14px 10px;
    border-radius: 4px; 
    border: 1px solid #0d271c; 
    font-size: 16px;
    background-color: #02a863; 
    color: rgb(0, 46, 31);
    transition: all 0.3s ease;
}

.inputTexto:focus,
.selectNoticias:focus {
    outline: none;
    border-color: #1fd187;
    box-shadow: 0 0 5px #00ffaad5, 0 0 10px #1effa1ef; 
}

/* BOTÓN DE ENVÍO */
.noticiasBtn {
    margin-top: 25px;
    color: rgb(0, 0, 0); 
    border: 2px solid rgb(0, 22, 17);
    background-color: #82f5d2;
    padding: 14px 25px;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    align-self: center;
    letter-spacing: 1px;
    
   
}

.noticiasBtn:hover {
    background-color: #003d27c6;
  border: 2px groove rgb(150, 250, 220);
  color: #84fabf;
  box-shadow:  0 4px 12px rgb(165, 226, 204);
}



/* Mensaje de Error (Campo) */
.error-message-I {
    color: #c6fdfb; 
    font-size: 0.85em;
    margin-top: -15px;
    padding-left: 45px;
    font-weight: 400;
}

/* Mensaje General (Éxito) */
.creacion-message-I {
    color: #1a202c; 
    font-size: 1.1em;
    font-weight: 700;
    margin: 30px auto 10px;
    text-align: center;
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #48bb78; /* Fondo de mensaje en verde acento */
    
    /* Borde y sombra para resaltar */
    border: 1px solid #1a202c;
    box-shadow: 0 0 10px #38a169;
    position: relative;
    max-width: 90%;
}

.creacion-message-I::before {
    content: "📡"; /* Icono de señal/tecnología */
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .mainContainerNoticia {
        padding: 30px 25px;
        margin: 30px 15px;
    }

    .tituloNoticia {
        font-size: 1.8em;
        text-align: center; 
    }

    .noticiasBtn {
        width: 100%;
        align-self: center; 
    }
}