.tituloNoticiasContainer {
     border: 3px solid rgb(0, 77, 32);
    background-color: #004d49;
    color: rgb(11, 218, 121);
    max-width: 100%;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
    text-align: center;
}
.titleNoticias{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid white;
}