.containerTablaUsuarios {
    background-color: #999999;
}

.tablaUsuariosDeleteBtn {
    padding: 2px;
    border: none;
}
.tablaUsuariosDeleteBtn:hover {
    background-color: #494949;
    color: whitesmoke;
}

.tablaUsuariosEditBtn {
    border: none;
    padding: 2px;
    margin-left: 10px;
}
.tablaUsuariosEditBtn:hover {
    background-color: #494949;
    color: whitesmoke;
}

.tablaUsuariosConfirmBtn {
    border: none;
    padding: 2px;
    margin: 7px;
}
.tablaUsuariosConfirmBtn:hover {
    background-color: #494949;
    color: whitesmoke;
}

.inputTablaUsuarios {
    margin:  4px auto;
    border: 2px solid;
    background-color: #c7c7c7;
    border: 1px solid black;
}

.inputTablaUsuarios:hover {
    background-color: rgb(207, 255, 253);
}

@media (max-width: 768px) {
    .containerTablaUsuarios {
        width: 100%;
        padding: 10px;
    }
    .tablaUsuariosDeleteBtn,
    .tablaUsuariosEditBtn,
    .tablaUsuariosConfirmBtn {
        width: 100%;
        margin-bottom: 10px;
    }
}